html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00649F;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    color: #FFFFFF;
    /*font-size: 16px;*/
    font-family: "Franklin Gothic Book";
}

#container {
    flex: 1;
    padding: 10px;
    display: flex;
}

#exit {
    width: 100%;
    height: 30px;
}

textarea {
    width: 100%;
    resize: none;
}

p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

label {
    width: 100%;
    display: block;
    margin-top: 4px;
    margin-bottom: 2px;
}

input {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.footerButtons {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 5px;
}

.continue_button {
    width: 141px;
    height: 23px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: right;
}

.back_button {
    width: 141px;
    height: 23px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
}

.hide {
    display: none !important;
}
